<app-chat-history></app-chat-history>
<div class="chat">

  <div class="log">
    <ng-container *ngFor="let message of chat.log; let i = index">
      <app-chat-row
        [message]="message"
        [writing]="message.role === 'assistant' && i === chat.log.length - 1 && writing"
      ></app-chat-row>
    </ng-container>

    <div class="spacer"></div>

    <div class="input">
      <textarea autosize
        placeholder="Send a message."
        spellcheck="false"
        (keydown.enter)="onEnterPress($event);"
        [(ngModel)]="message"
      ></textarea>

      <span class="button" (click)="onEnterPress($event)">
        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 mr-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
      </span>

    </div>

</div>
</div>
