<app-chat-history [current]="chat"></app-chat-history>
<div class="chat" *ngIf="chat">

  <div class="log">
    <ng-container *ngFor="let message of chat.log; let i = index">
      <app-chat-row
        [message]="message"
        [writing]="message.role === 'assistant' && i === chat.log.length - 1 && chat.writing"
        [branchIndex]="chat.branchIndex(i)"
        [branchCount]="chat.branchCount(i)"
        (messageUpdate)="onMessageUpdate($event, i)"
        (next)="onMessageNext(i)"
        (prev)="onMessagePrevious(i)"
      ></app-chat-row>
    </ng-container>

    <div class="spacer"></div>

    <app-chat-input (message)="onEnterPress($event)" [locked]="chat.writing"></app-chat-input>
  </div>
</div>
