@import '../../../variables.scss';

:host {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  background-color: inherit;
  border: 0;
  color: $color-light;
  cursor: pointer;

  span {
    padding: 0.5rem;
  }
}
