:host {
  display: flex;
  align-self: center;
  position: sticky;
  bottom: 1rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
  margin: 1rem;
  width: 100%;
  max-width: 42rem;
  border-radius: 6px;
  border: solid 1px rgb(217, 217, 217);
  box-shadow: 0 0 transparent, 0 0 transparent, 0 0 0.75rem rgba(0,0,0,.1);
  background-color: white;

  .button, .loading {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: rgb(142, 142, 142);
    &.button {
      cursor: pointer;
    }
    &.loading {
      cursor: default;
      font-size: 2rem;
      line-height: 1rem;
    }
  }
}
