@keyframes blink-caret {
  0%, 49.99% { opacity: 1; }
  50%, 100% { opacity: 0; }
}

:host {

  .background {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    border-bottom: rgba(0, 0, 0, .1) solid 1px;

    &.system, &.assistant {
      background-color: rgb(247, 247, 247);
    }
    &.user {
      background-color: rgb(255, 255, 255);
    }
  }


  .short {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    max-width: 42rem;
    width: 100%;
    gap: 1rem;

    figure {
      background-color: black;
      color: white;
      width: 2.0rem;
      height: 2.0rem;

      svg {
        width: 2rem;
        height: 2rem;
        padding: 0.25rem;
      }
      img {
        width: 2.0rem;
        height: 2.0rem;
      }

    }
    .content {
      width: 100%;
    }
    .caret {
      font-style: normal;
      animation: blink-caret 1s step-end infinite;
    }
  }

}
